<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Server=localhost;Initial Catalog=UserDB;Persist Security Info=False;User ID=user;Password=user123;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=true;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>